/**
 * Layout
 *
 * based https://raw.githubusercontent.com/kristoferjoseph/flexboxgrid/master/src/css/flexboxgrid.css
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

$gutter-width: $mv-layout__gutter;
$outer-margin: $mv-layout__outer-margin;
$gutter-compensation: ($gutter-width * 0.5) * -1;
$half-gutter-width: ($gutter-width * 0.5);
$mobile-min: $mv-device__mobile;
$tablet-min: $mv-device__tablet;
$desktop-min: $mv-device__desktop;
$widescreen-min: $mv-device__widescreen;
$fullhd-min: $mv-device__fullhd;
$screen-mobile-min: $mobile-min;
$screen-sm-min: $tablet-min;
$screen-md-min: $desktop-min;
$screen-widescreen-min: $widescreen-min;
$container-tablet: $tablet-min + $gutter-width;
$container-desktop: $desktop-min + $gutter-width;
$container-widescreen: $widescreen-min + $gutter-width;
$container-fullhd: $fullhd-min + $gutter-width;


/**
 * Default behavior
 *
 * <mv-grid>
 *  <mv-container>
 *    <mv-row>
 *      <mv-col>1</mv-col>
 *      <mv-col>2</mv-col>
 *      <mv-col>3</mv-col>
 *    </mv-row>
 *    <mv-row>
 *      <mv-col>1</mv-col>
 *      <mv-col>2</mv-col>
 *    </mv-row>
 *  </mv-container>
 * </mv-grid>
 *
 */
mv-grid,
mv-container{
  display: block;
}

mv-grid,
mv-container {
  margin-right: auto;
  margin-left: auto;
}

/**
 * Fix container on small width
 */
mv-grid {
  padding-right: $outer-margin;
  padding-left: $outer-margin;
}
mv-container {
  width: 100%;
}
mv-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

mv-row.is-reverse {
  flex-direction: row-reverse;
}

mv-col.is-reverse {
  flex-direction: column-reverse;
}

mv-col.is-shrink {
  flex-grow: 0;
}

mv-col,
mv-col.is-mobile,
mv-col.is-mobile-1,
mv-col.is-mobile-2,
mv-col.is-mobile-3,
mv-col.is-mobile-4,
mv-col.is-mobile-5,
mv-col.is-mobile-6,
mv-col.is-mobile-7,
mv-col.is-mobile-8,
mv-col.is-mobile-9,
mv-col.is-mobile-10,
mv-col.is-mobile-11,
mv-col.is-mobile-12,
mv-col.is-mobile-offset-0,
mv-col.is-mobile-offset-1,
mv-col.is-mobile-offset-2,
mv-col.is-mobile-offset-3,
mv-col.is-mobile-offset-4,
mv-col.is-mobile-offset-5,
mv-col.is-mobile-offset-6,
mv-col.is-mobile-offset-7,
mv-col.is-mobile-offset-8,
mv-col.is-mobile-offset-9,
mv-col.is-mobile-offset-10,
mv-col.is-mobile-offset-11,
mv-col.is-mobile-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

mv-col,
mv-col.is-mobile {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

mv-col.is-mobile-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

mv-col.is-mobile-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

mv-col.is-mobile-3 {
  flex-basis: 25%;
  max-width: 25%;
}

mv-col.is-mobile-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

mv-col.is-mobile-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

mv-col.is-mobile-6 {
  flex-basis: 50%;
  max-width: 50%;
}

mv-col.is-mobile-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

mv-col.is-mobile-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

mv-col.is-mobile-9 {
  flex-basis: 75%;
  max-width: 75%;
}

mv-col.is-mobile-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

mv-col.is-mobile-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

mv-col.is-mobile-12 {
  flex-basis: 100%;
  max-width: 100%;
}

mv-col.is-mobile-offset-0 {
  margin-left: 0;
}

mv-col.is-mobile-offset-1 {
  margin-left: 8.33333333%;
}

mv-col.is-mobile-offset-2 {
  margin-left: 16.66666667%;
}

mv-col.is-mobile-offset-3 {
  margin-left: 25%;
}

mv-col.is-mobile-offset-4 {
  margin-left: 33.33333333%;
}

mv-col.is-mobile-offset-5 {
  margin-left: 41.66666667%;
}

mv-col.is-mobile-offset-6 {
  margin-left: 50%;
}

mv-col.is-mobile-offset-7 {
  margin-left: 58.33333333%;
}

mv-col.is-mobile-offset-8 {
  margin-left: 66.66666667%;
}

mv-col.is-mobile-offset-9 {
  margin-left: 75%;
}

mv-col.is-mobile-offset-10 {
  margin-left: 83.33333333%;
}

mv-col.is-mobile-offset-11 {
  margin-left: 91.66666667%;
}

.is-mobile-start,
.is-align-start {
  justify-content: flex-start;
  text-align: start;
}

.is-mobile-center,
.is-align-center {
  justify-content: center;
  text-align: center;
}

.is-mobile-end,
.is-align-end {
  justify-content: flex-end;
  text-align: end;
}

.is-mobile-top,
.is-align-top {
  align-items: flex-start;
}

.is-mobile-middle,
.is-align-middle {
  align-items: center;
}

.is-mobile-bottom,
.is-align-bottom {
  align-items: flex-end;
}

.is-mobile-around,
.is-align-around {
  justify-content: space-around;
}

.is-mobile-between,
.is-align-between {
  justify-content: space-between;
}

.is-mobile-first,
.is-align-first {
  order: -1;
}

.is-mobile-last,
.is-align-last {
  order: 1;
}

@media screen and (min-width: $container-tablet) {
  mv-container {
    width: $container-tablet - 2rem; //46rem
  }

  mv-col.is-tablet,
  mv-col.is-tablet-1,
  mv-col.is-tablet-2,
  mv-col.is-tablet-3,
  mv-col.is-tablet-4,
  mv-col.is-tablet-5,
  mv-col.is-tablet-6,
  mv-col.is-tablet-7,
  mv-col.is-tablet-8,
  mv-col.is-tablet-9,
  mv-col.is-tablet-10,
  mv-col.is-tablet-11,
  mv-col.is-tablet-12,
  mv-col.is-tablet-offset-0,
  mv-col.is-tablet-offset-1,
  mv-col.is-tablet-offset-2,
  mv-col.is-tablet-offset-3,
  mv-col.is-tablet-offset-4,
  mv-col.is-tablet-offset-5,
  mv-col.is-tablet-offset-6,
  mv-col.is-tablet-offset-7,
  mv-col.is-tablet-offset-8,
  mv-col.is-tablet-offset-9,
  mv-col.is-tablet-offset-10,
  mv-col.is-tablet-offset-11,
  mv-col.is-tablet-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  mv-col.is-tablet {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  mv-col.is-tablet-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  mv-col.is-tablet-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  mv-col.is-tablet-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  mv-col.is-tablet-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  mv-col.is-tablet-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  mv-col.is-tablet-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  mv-col.is-tablet-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  mv-col.is-tablet-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  mv-col.is-tablet-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  mv-col.is-tablet-1 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  mv-col.is-tablet-1 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  mv-col.is-tablet-1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  mv-col.is-tablet-offset-0 {
    margin-left: 0;
  }

  mv-col.is-tablet-offset-1 {
    margin-left: 8.33333333%;
  }

  mv-col.is-tablet-offset-2 {
    margin-left: 16.66666667%;
  }

  mv-col.is-tablet-offset-3 {
    margin-left: 25%;
  }

  mv-col.is-tablet-offset-4 {
    margin-left: 33.33333333%;
  }

  mv-col.is-tablet-offset-5 {
    margin-left: 41.66666667%;
  }

  mv-col.is-tablet-offset-6 {
    margin-left: 50%;
  }

  mv-col.is-tablet-offset-7 {
    margin-left: 58.33333333%;
  }

  mv-col.is-tablet-offset-8 {
    margin-left: 66.66666667%;
  }

  mv-col.is-tablet-offset-9 {
    margin-left: 75%;
  }

  mv-col.is-tablet-offset-10 {
    margin-left: 83.33333333%;
  }

  mv-col.is-tablet-offset-11 {
    margin-left: 91.66666667%;
  }

  .is-tablet-start {
    justify-content: flex-start;
    text-align: start;
  }

  .is-tablet-center {
    justify-content: center;
    text-align: center;
  }

  .is-tablet-end {
    justify-content: flex-end;
    text-align: end;
  }

  .is-tablet-top {
    align-items: flex-start;
  }

  .is-tablet-middle {
    align-items: center;
  }

  .is-tablet-bottom {
    align-items: flex-end;
  }

  .is-tablet-around {
    justify-content: space-around;
  }

  .is-tablet-between {
    justify-content: space-between;
  }

  .is-tablet-first {
    order: -1;
  }

  .is-tablet-last {
    order: 1;
  }
}

@media screen and (min-width: $container-desktop) {
  mv-container {
    width: $container-desktop - 3rem; //61rem
  }

  mv-col.is-desktop,
  mv-col.is-desktop-1,
  mv-col.is-desktop-2,
  mv-col.is-desktop-3,
  mv-col.is-desktop-4,
  mv-col.is-desktop-5,
  mv-col.is-desktop-6,
  mv-col.is-desktop-7,
  mv-col.is-desktop-8,
  mv-col.is-desktop-9,
  mv-col.is-desktop-10,
  mv-col.is-desktop-11,
  mv-col.is-desktop-12,
  mv-col.is-desktop-offset-0,
  mv-col.is-desktop-offset-1,
  mv-col.is-desktop-offset-2,
  mv-col.is-desktop-offset-3,
  mv-col.is-desktop-offset-4,
  mv-col.is-desktop-offset-5,
  mv-col.is-desktop-offset-6,
  mv-col.is-desktop-offset-7,
  mv-col.is-desktop-offset-8,
  mv-col.is-desktop-offset-9,
  mv-col.is-desktop-offset-10,
  mv-col.is-desktop-offset-11,
  mv-col.is-desktop-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    /*padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;*/
  }

  mv-col.is-desktop {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  mv-col.is-desktop-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  mv-col.is-desktop-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  mv-col.is-desktop-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  mv-col.is-desktop-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  mv-col.is-desktop-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  mv-col.is-desktop-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  mv-col.is-desktop-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  mv-col.is-desktop-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  mv-col.is-desktop-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  mv-col.is-desktop-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  mv-col.is-desktop-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  mv-col.is-desktop-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  mv-col.is-desktop-offset-0 {
    margin-left: 0;
  }

  mv-col.is-desktop-offset-1 {
    margin-left: 8.33333333%;
  }

  mv-col.is-desktop-offset-2 {
    margin-left: 16.66666667%;
  }

  mv-col.is-desktop-offset-3 {
    margin-left: 25%;
  }

  mv-col.is-desktop-offset-4 {
    margin-left: 33.33333333%;
  }

  mv-col.is-desktop-offset-5 {
    margin-left: 41.66666667%;
  }

  mv-col.is-desktop-offset-6 {
    margin-left: 50%;
  }

  mv-col.is-desktop-offset-7 {
    margin-left: 58.33333333%;
  }

  mv-col.is-desktop-offset-8 {
    margin-left: 66.66666667%;
  }

  mv-col.is-desktop-offset-9 {
    margin-left: 75%;
  }

  mv-col.is-desktop-offset-10 {
    margin-left: 83.33333333%;
  }

  mv-col.is-desktop-offset-11 {
    margin-left: 91.66666667%;
  }

  .is-desktop-start {
    justify-content: flex-start;
    text-align: start;
  }

  .is-desktop-center {
    justify-content: center;
    text-align: center;
  }

  .is-desktop-end {
    justify-content: flex-end;
    text-align: end;
  }

  .is-desktop-top {
    align-items: flex-start;
  }

  .is-desktop-middle {
    align-items: center;
  }

  .is-desktop-bottom {
    align-items: flex-end;
  }

  .is-desktop-around {
    justify-content: space-around;
  }

  .is-desktop-between {
    justify-content: space-between;
  }

  .is-desktop-first {
    order: -1;
  }

  .is-desktop-last {
    order: 1;
  }
}

@media screen and (min-width: $container-widescreen) {
  mv-container {
    width: $container-widescreen - 4rem; //71rem
  }

  mv-col.is-widescreen,
  mv-col.is-widescreen-1,
  mv-col.is-widescreen-2,
  mv-col.is-widescreen-3,
  mv-col.is-widescreen-4,
  mv-col.is-widescreen-5,
  mv-col.is-widescreen-6,
  mv-col.is-widescreen-7,
  mv-col.is-widescreen-8,
  mv-col.is-widescreen-9,
  mv-col.is-widescreen-10,
  mv-col.is-widescreen-11,
  mv-col.is-widescreen-12,
  mv-col.is-widescreen-offset-0,
  mv-col.is-widescreen-offset-1,
  mv-col.is-widescreen-offset-2,
  mv-col.is-widescreen-offset-3,
  mv-col.is-widescreen-offset-4,
  mv-col.is-widescreen-offset-5,
  mv-col.is-widescreen-offset-6,
  mv-col.is-widescreen-offset-7,
  mv-col.is-widescreen-offset-8,
  mv-col.is-widescreen-offset-9,
  mv-col.is-widescreen-offset-10,
  mv-col.is-widescreen-offset-11,
  mv-col.is-widescreen-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  mv-col.is-widescreen {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  mv-col.is-widescreen-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  mv-col.is-widescreen-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  mv-col.is-widescreen-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  mv-col.is-widescreen-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  mv-col.is-widescreen-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  mv-col.is-widescreen-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  mv-col.is-widescreen-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  mv-col.is-widescreen-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  mv-col.is-widescreen-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  mv-col.is-widescreen-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  mv-col.is-widescreen-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  mv-col.is-widescreen-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  mv-col.is-widescreen-offset-0 {
    margin-left: 0;
  }

  mv-col.is-widescreen-offset-1 {
    margin-left: 8.33333333%;
  }

  mv-col.is-widescreen-offset-2 {
    margin-left: 16.66666667%;
  }

  mv-col.is-widescreen-offset-3 {
    margin-left: 25%;
  }

  mv-col.is-widescreen-offset-4 {
    margin-left: 33.33333333%;
  }

  mv-col.is-widescreen-offset-5 {
    margin-left: 41.66666667%;
  }

  mv-col.is-widescreen-offset-6 {
    margin-left: 50%;
  }

  mv-col.is-widescreen-offset-7 {
    margin-left: 58.33333333%;
  }

  mv-col.is-widescreen-offset-8 {
    margin-left: 66.66666667%;
  }

  mv-col.is-widescreen-offset-9 {
    margin-left: 75%;
  }

  mv-col.is-widescreen-offset-10 {
    margin-left: 83.33333333%;
  }

  mv-col.is-widescreen-offset-11 {
    margin-left: 91.66666667%;
  }

  .is-widescreen-start {
    justify-content: flex-start;
    text-align: start;
  }

  .is-widescreen-center {
    justify-content: center;
    text-align: center;
  }

  .is-widescreen-end {
    justify-content: flex-end;
    text-align: end;
  }

  .is-widescreen-top {
    align-items: flex-start;
  }

  .is-widescreen-middle {
    align-items: center;
  }

  .is-widescreen-bottom {
    align-items: flex-end;
  }

  .is-widescreen-around {
    justify-content: space-around;
  }

  .is-widescreen-between {
    justify-content: space-between;
  }

  .is-widescreen-first {
    order: -1;
  }

  .is-widescreen-last {
    order: 1;
  }
}

@media screen and (min-width: $container-fullhd) {
  mv-container {
    width: $container-fullhd - 4rem; //71rem
  }

  mv-col.is-widescreen,
  mv-col.is-widescreen-1,
  mv-col.is-widescreen-2,
  mv-col.is-widescreen-3,
  mv-col.is-widescreen-4,
  mv-col.is-widescreen-5,
  mv-col.is-widescreen-6,
  mv-col.is-widescreen-7,
  mv-col.is-widescreen-8,
  mv-col.is-widescreen-9,
  mv-col.is-widescreen-10,
  mv-col.is-widescreen-11,
  mv-col.is-widescreen-12,
  mv-col.is-widescreen-offset-0,
  mv-col.is-widescreen-offset-1,
  mv-col.is-widescreen-offset-2,
  mv-col.is-widescreen-offset-3,
  mv-col.is-widescreen-offset-4,
  mv-col.is-widescreen-offset-5,
  mv-col.is-widescreen-offset-6,
  mv-col.is-widescreen-offset-7,
  mv-col.is-widescreen-offset-8,
  mv-col.is-widescreen-offset-9,
  mv-col.is-widescreen-offset-10,
  mv-col.is-widescreen-offset-11,
  mv-col.is-widescreen-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  mv-col.is-widescreen {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  mv-col.is-widescreen-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  mv-col.is-widescreen-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  mv-col.is-widescreen-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  mv-col.is-widescreen-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  mv-col.is-widescreen-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  mv-col.is-widescreen-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  mv-col.is-widescreen-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  mv-col.is-widescreen-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  mv-col.is-widescreen-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  mv-col.is-widescreen-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  mv-col.is-widescreen-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  mv-col.is-widescreen-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  mv-col.is-widescreen-offset-0 {
    margin-left: 0;
  }

  mv-col.is-widescreen-offset-1 {
    margin-left: 8.33333333%;
  }

  mv-col.is-widescreen-offset-2 {
    margin-left: 16.66666667%;
  }

  mv-col.is-widescreen-offset-3 {
    margin-left: 25%;
  }

  mv-col.is-widescreen-offset-4 {
    margin-left: 33.33333333%;
  }

  mv-col.is-widescreen-offset-5 {
    margin-left: 41.66666667%;
  }

  mv-col.is-widescreen-offset-6 {
    margin-left: 50%;
  }

  mv-col.is-widescreen-offset-7 {
    margin-left: 58.33333333%;
  }

  mv-col.is-widescreen-offset-8 {
    margin-left: 66.66666667%;
  }

  mv-col.is-widescreen-offset-9 {
    margin-left: 75%;
  }

  mv-col.is-widescreen-offset-10 {
    margin-left: 83.33333333%;
  }

  mv-col.is-widescreen-offset-11 {
    margin-left: 91.66666667%;
  }

  .is-widescreen-start {
    justify-content: flex-start;
    text-align: start;
  }

  .is-widescreen-center {
    justify-content: center;
    text-align: center;
  }

  .is-widescreen-end {
    justify-content: flex-end;
    text-align: end;
  }

  .is-widescreen-top {
    align-items: flex-start;
  }

  .is-widescreen-middle {
    align-items: center;
  }

  .is-widescreen-bottom {
    align-items: flex-end;
  }

  .is-widescreen-around {
    justify-content: space-around;
  }

  .is-widescreen-between {
    justify-content: space-between;
  }

  .is-widescreen-first {
    order: -1;
  }

  .is-widescreen-last {
    order: 1;
  }
}

.centralize {
  justify-content: center;
  align-self: center;
}
