@import "../../variables";

//:host {
//  display: block;
//  padding: 0;
//}

mv-topic {}

.mv-topic {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 .5rem;

  &__header {
    border-bottom: 2px solid $mv-color__gray--100;
  }
  &__header-title {
    font-size: 48px;
    line-height: 1.2em;
    color: $mv-color--primary;
  }
  &__content {
    padding: 30px 0;
  }

  /**
   * Lista
   */


  /**
   * Resources
   */
  &--resource {
    padding: 0 .5rem;
    max-width: 80px;
    font-weight: 300;
    color: $color__default;
  }


  /**
   * Elementos
   */
  &__title {
    margin: .4rem 0 0 0;
    padding: 0 0 1rem 0;
    font-size: 30px;
    color: $mv-color--primary;
  }

  &__text {
    margin: 0;
    padding: 0;
  }
  &__button {
    padding: 1rem 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
    color: $color__default;

    &:hover {
      color: $color__default;
    }
  }
}

mv-topic-list {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
}

mv-topic-number,
mv-topic-date {
  @extend .mv-topic--resource;
}
