<section class="mv-topic">
  <header class="mv-topic__header">
    <h1 class="mv-topic__header-title">{{title}}</h1>
  </header>
  <div class="mv-topic__content">
    <ng-content></ng-content>
  </div>
</section>
