<section class="mv-mega">
  <mv-grid>
    <mv-container class="mv-mega__container">
      <mv-mega-banner-slide
        *ngFor="let slide of slides"
        [title]="slide.title"
        [description]="slide.description"
        [image]="slide.image"
        (onChange)="setup($event)"
      ></mv-mega-banner-slide>
    </mv-container>
  </mv-grid>
</section>
