@import "../../variables";

:host {
  display: block;
}

.mv-mega {
  min-height: 640px;
  // background-color: $mv-color__light;
  background-color: $mv-color__gray--50;
  overflow: hidden;

  &__container {
    position: relative;
  }

  & > mv-grid,
  & > mv-grid > mv-container {
    min-height: 640px;
  }
}
