<mv-mega-banner></mv-mega-banner>

<mv-grid>
  <mv-container>

    <mv-row>
      <mv-col class="is-mobile-12 is-tablet-6">
        <mv-topic title="Quem somos">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </mv-topic>
      </mv-col>
      <mv-col class="is-mobile-12 is-tablet-6">
        <mv-topic title="Objetivos">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </mv-topic>
      </mv-col>
    </mv-row>

    <mv-row>
      <mv-col class="is-mobile-12 is-tablet-6">
        <mv-topic title="Missão">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </mv-topic>
      </mv-col>

      <mv-col class="is-mobile-12 is-tablet-6">
        <mv-topic title="Visão">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </mv-topic>
      </mv-col>
    </mv-row>

    <mv-row>
      <mv-col>
        <mv-topic title="História">
          <p>Em 08 de outubro de 1983 foi criada a Associação de Docentes da Universidade Federal De Rondônia (ADUNIR), quando
            Um grupo de vinte e nove (29) docentes reuniram-se, a exemplo do que já vinha ocorrendo em outros Estados, para
            discutir a importância de organizar uma entidade que defendesse os direitos dos professores e lutasse pela democracia
            no interior da universidade. Em 06 de dezembro de 1990 a ADUNIR deu mais um passo decisivo para sua organização
            a nível nacional, tornando se seção sindical do ANDES-SN (Associação dos Docentes de Ensino Superior Sindicato
            Nacional). O surgimento do Movimento Docente (MD) na unir acompanhou o processo histórico da sociedade brasileira
            em direção à abertura política e à organização da sociedade civil, iniciado no final dos anos 70 nas universidades
            brasileiras. Tal movimento possibilitou a rearticulação de grupos sociais por meio de um novo movimento sindical
            Que, aos poucos, atingiu diversas categorias profissionais.</p>
        </mv-topic>
      </mv-col>
    </mv-row>

    <mv-row>
      <mv-col>
        <mv-topic title="Filiação">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </mv-topic>
      </mv-col>
    </mv-row>


    <mv-topic title="Parceiros">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
    </mv-topic>

  </mv-container>
</mv-grid>
