mv-control-checkbox {
  input[mv-control-checkbox-input] {
    z-index: 101;
  }
  mv-control-switch {
    display: none;
  }
}

mv-control-checkbox[switch] {
  input[mv-control-checkbox-input] {
    z-index: 0;
  }
  mv-control-switch {
    display: flex;
    z-index: 100;
    align-self: flex-end;
  }
}
