@import "../../../variables";

:host {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;

  ul {
    padding-left: 1rem;
  }
}

.mv-topic-item__title {
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
  color: $mv-color--primary;
}
