<ng-content select="mv-topic-number"></ng-content>
<ng-content select="mv-topic-date"></ng-content>
<mv-col>
  <h3 class="mv-topic-item__title">{{title}}</h3>
  <ng-content></ng-content>
  <ng-content select="mv-topic-action"></ng-content>
</mv-col>
