/**
 * Card
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Card
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";
@import "../shared/mixins";

$card-height: 12.5rem;
$card-z-index: 1;
$card-border-color: rgba($mv-color__dark, 0.1);
/**
 * @section Style
 */
mv-card {
  padding: $mv-layout__gutter/2 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

mv-card-action,
mv-card-text {
  display: flex;
}

mv-card-action {
  line-height: normal;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  // border-top: 1px solid $card-border-color;
}
mv-card-text {
  color: $mv-color__primary;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  flex-direction: column;
  // border-bottom: 1px solid $card-border-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    margin-top: 0;
  }
}
mv-card-menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

mv-card img {
  width: 100%;
}

.mv-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: $card-height;
  // width: $card-width;
  z-index: $card-z-index;
  background-color: $mv-color__gray--50;
  border-radius: $mv-border-radius-base;
  overflow: hidden;

  &__media {
    background-color: $mv-color__gray--100;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: scroll;
  }

  &__title {
    min-height: 10rem;
    padding: 1rem;
    align-items: center;
    justify-content: stretch;
    line-height: normal;
    color: $mv-color__light;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/img/default-img.gif');
  }

  &__title &--border {
    border-bottom: 1px solid $card-border-color;
  }

  &__title-text {
    align-self: flex-end;
    color: inherit;
    line-height: normal;
    overflow: hidden;
    margin: 0;
  }

  &__subtitle-text {
    font-size: 1.5em;
    color: $mv-color__gray--300;
    margin: 0;
  }
}

@include desktop() {
  mv-card-text {
    overflow-y: auto;
    min-height: 5rem;
  }
}

/**
 * Modificadores
 */
mv-card.is-expand {
  flex-grow: 1;
}

mv-card.is-full {
  .mv-card__title {
    display: flex;
    flex: 1;
  }
}
mv-card.remove-title {
  .mv-card__title {
    display: none;
  }
}
mv-card.remove-img {
  .mv-card__title {
    background-image: none;
    background-color: $mv-color__gray--50;
  }
  .mv-card__title-text {
    color: $mv-color__gray--300;
  }
}
