<mv-mega-banner></mv-mega-banner>
<mv-grid>
  <mv-container>
    <mv-row>
      <mv-col>
        <mv-topic title="Leis">
          <ul>
            <li>
              <a href="http://www.planalto.gov.br/ccivil_03/leis/l8112cons.htm" target="_blank">
            Lei 8112/90 - Regime jurídico dos servidores públicos civis da União, das autarquias e das fundações públicas federais
          </a>
            </li>
            <li>
              <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/lei/l12772.htm" target="_blank">
            Lei 12.772/2012 - Plano de Carreiras e Cargos de Magistério Federal
          </a>
            </li>
            <li>
              <a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2008/lei/l11784.htm" target="_blank">
            Lei 11.784 - Carreira do Magistério Superior
          </a>
            </li>
            <li>
              <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Lei/L12663.htm" target="_blank">
            Lei 12.663 - Lei da Copa
          </a>
            </li>
            <li>
              <a href="http://www.planalto.gov.br/ccivil_03/leis/l8429.htm" target="_blank">
            Lei 8.429/92 - Lei de Improbidade Administrativa
          </a>
            </li>
          </ul>
        </mv-topic>
      </mv-col>
    </mv-row>

  </mv-container>
</mv-grid>
