<div class="mv-control">
  <!--toolbar-->
  <div class="mv-control__toolbar">
    <!--icon-->
    <div class="mv-control__icon" [hidden]="!hasIcon">
      <mv-icon [name]="icon"></mv-icon>
    </div>
    <!--container-->
    <div class="mv-control__field">
      <div class="mv-control__label">
        <ng-content select="label"></ng-content>
      </div>
      <div class="mv-control__container">
        <ng-content></ng-content>
      </div>
    </div>
    <!--action-->
    <div class="mv-control__action" #controlAction [hidden]="isControlActionHidden()">
      <ng-content select="mv-control-action,mv-control-action-number"></ng-content>
    </div>
  </div>
  <!--/toolbar-->
  <!--message-->
  <div class="mv-control__message" #controlSetup [hidden]="isControlSetupHidden()">
    <ng-content select="mv-control-message"></ng-content>
  </div>
  <!--/message-->
  <!--setup-->
  <div class="mv-control__setup" #controlSetup [hidden]="isControlSetupHidden()">
    <ng-content select="mv-control-setup"></ng-content>
  </div>
  <!--/setup-->
</div>
