/**
 *  Device
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Device
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";
@import "../shared/mixins";
/**
 * @section Style
 */

.device_detector::after {
  display: block;
}

// @media screen and (max-width: $mv-device__xs)
@include mobile() {
  .device_detector::after {
    content: "Device mobile";
  }
}

// @media screen and (max-width: $mv-device__xs)
// @include touch() {
//   .device_detector::after {
//     content: "Device touch";
//   }
// }

// @media screen
//   and (min-width: $mv-device__sm--min)
//   and (max-width: $mv-device__sm) {
@include tablet () {
  .device_detector::after {
    content: "Device tablet";
  }
}

// @media screen
//   and (min-width: $mv-device__md--min)
//   and (max-width: $mv-device__md)
@include desktop() {
  .device_detector::after {
    content: "Device desktop";
  }
}

// @media screen and (min-width: $mv-device__lg--min)
@include widescreen() {
  .device_detector::after {
    content: "Device widescreen";
  }
}

@include fullhd() {
  .device_detector::after {
    content: "Device fullhd";
  }
}
