<mv-row class="mv-btn-area is-hidden-tablet is-hidden-desktop">
  <mv-col class="is-align-center">
    <button class="mv-btn" (click)="toggle()" accesskey="2">
      <mv-icon name="bars"></mv-icon>
      <span>Menu</span>
    </button>
  </mv-col>
</mv-row>
<nav class="nav">
  <ul class="menu">
    <li class="item">
      <a href="#" class="mv-btn-area link" routerLink="" routerLinkActive="is-active">
        <span class="label">Início</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="link" routerLink="/sobre" routerLinkActive="is-active">
        <span class="label">Sobre</span>
        <span class="description">Conheça</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="link" routerLink="/parceiro" routerLinkActive="is-active">
        <span class="label">Parcerias</span>
        <span class="description">Descubra</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="link" routerLink="/noticia" routerLinkActive="is-active">
        <span class="label">Notícias</span>
        <span class="description">Informe-se</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="link" routerLink="/legislacao" routerLinkActive="is-active">
        <span class="label">Legislação</span>
        <span class="description">Confira</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="link" routerLink="/agenda" routerLinkActive="is-active">
        <span class="label">Agenda</span>
        <span class="description">Convide</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="link" routerLink="/filiacao" routerLinkActive="is-active">
        <span class="label">Filiação</span>
        <span class="description">Filie-se</span>
      </a>
    </li>
    <li class="mv-btn-area item is-hidden-tablet is-hidden-desktop">
      <button class="mv-btn link is-close is-align-center" (click)="toggle()">
        <mv-icon name="times"></mv-icon>
        <span>Fechar</span>
      </button>
    </li>
  </ul>
</nav>
