@import '../../variables';
@import '../../mixins';

/**
 * @Section elements
 */

 :host {
  position: relative;
  z-index: 1000;
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.menu {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.link {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: inherit;
}

.label {
  display: flex;
}

.description {
  display: flex;
}

.is-close {
  flex-direction: row;
  align-items: center;
  background-color: darken($color__secondary, 10%);
  span {
    padding-left: 0.5em;
  }
}

@include mobile {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    transition: transform 300ms ease;
    transform: translateY(-100%);
    color: $mv-color--light;
    background-color: $color--secondary;
  }
   :host(.is-open) /deep/ .nav {
    transform: translateY(0);
  }
   :host(.is-open) /deep/ .description {
    display: none;
  }
  .link {}
  .label {
    flex: 1;
    align-items: center;
  }
}

@include tablet {
  .menu {
    flex-direction: row;
  }
  .item {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    flex: 1; //align-self: center;
  }
  .link {
    text-decoration: none;
    padding: 25px 0; // min-height: 100px;
    transition: background-color 300ms ease, color 300ms ease;
    &:hover {
      background-color: $color__default;
    }
  }
  .link.is-active,
  .link.is-active .label,
  .link.is-active .description {
    color: $mv-color--light !important;
    background-color: $color__default;
  }
  .link:hover .label,
  .link:hover .description {
    color: $mv-color--light;
  }
  .label {
    display: block;
    padding: 0 .5rem;
    font-size: 1.2em;
    color: $color__default;
    transition: background-color 300ms ease, color 300ms ease;
  }
  .description {
    justify-content: center;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: $mv-color-_gray--300;
    transition: background-color 300ms ease, color 300ms ease;
  }
  .mv-btn-area {
    display: none;
  }
}

@include desktop() {
  .label {
    font-size: 1.5em;
  }
}
