/**
 * Mixins
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Mixins
 */

@import "../variables";


@mixin from($device) {
  @media screen and (min-width: $device){
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - rem-calc(1px)){
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mv-device__tablet){
    @content;
  }
}


@mixin tablet {
  @media screen and (min-width: $mv-device__tablet), print{
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $mv-device__tablet)
                and (max-width: $mv-device__desktop--min){
    @content;
  }
}

// @mixin touch {
//   @media screen and (max-width: $mv-device__desktop--min){
//     @content;
//   }
// }

@mixin desktop {
  @media screen and (min-width: $mv-device__desktop){
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: $mv-device__desktop) and (max-width: $mv-device__widescreen--min){
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: $mv-device__widescreen){
    @content;
  }
}

@mixin widescreen-only {
  @media screen and (min-width: $mv-device__widescreen) and (max-width: $mv-device__fullhd--min){
    @content;
  }
}

@mixin fullhd {
  @media screen and (min-width: $mv-device__fullhd){
    @content;
  }
}
