/**
 * Cores
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Color
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

// @import "variables";
// @import "mixins";


/**
 * @section Visible
 */

// // @media screen and (min-width: $mv-device__xs)
// @include mobile () {
//   .is-visible-xs,
//   .is-visible-mobile {
//     visibility: visible !important;
//   }
// }

// // @media screen and (min-width: $mv-device__sm)
// @include tablet-only() {
//   .is-visible-sm,
//   .is-visible-tablet {
//     visibility: visible !important;
//   }
// }

// // @media screen and (min-width: $mv-device__md)
// @include desktop-only() {
//   .is-visible-md,
//   .is-visible-desktop {
//     visibility: visible !important;
//   }
// }

// // @media screen and (min-width: $mv-device__lg)
// @include widescreen-only() {
//   .is-visible-lg,
//   .is-visible-widescreen {
//     visibility: visible !important;
//   }
// }

.is-hidden {
  visibility: hidden;
  display: none;
}
/**
 * @section Hidden
 */
//  @media screen  and (max-width: $mv-device__xs)
@include mobile () {
  .is-hidden-mobile {
    visibility: hidden !important;
    // display: none;
    background-color: red;
  }
}

@include tablet-only() {
  .is-hidden-tablet {
    visibility: hidden;
    // display: none;
    background-color: red;
  }
}

@include desktop-only() {
  .is-hidden-desktop {
    visibility: hidden;
    // display: none;
    background-color: red;
  }
}

@include widescreen-only() {
  .is-hidden-widescreen {
    visibility: hidden;
    // display: none;
    background-color: red;
  }
}
