@import "../../variables";

:host {
  display: block;
}

.mv-adunir-footer {
  display: block;
  padding: 2em 0.5rem;
  color: $mv-color--gray--50;
  background-color: $mv-color__gray--900;

  h1,
  h2,
  h3 {
    color: inherit;
  }

  &__nav-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  &__section {
    padding: 1em 0;
  }
}
