<footer id="MainFooter">
  <mv-grid class="mv-adunir-footer">
    <mv-container>
      <!--Links-->
      <mv-row class="is-align-center">
        <mv-col class="is-mobile-12">
          <h3>Links Úteis</h3>
          <nav class="mv-adunir-footer__nav">
            <ul class="mv-adunir-footer__nav-list">
              <li>ANDES-SN</li>
              <li>Boletim de Serviço</li>
              <li>SIAPENET</li>
            </ul>
          </nav>
        </mv-col>
        <mv-col class="is-mobile-12">
          <h3>Acesso Rápido</h3>
          <nav class="mv-adunir-footer__nav">
            <ul class="mv-adunir-footer__nav-list">
              <li>Regimento Geral</li>
              <li>Legislação</li>
              <li>Comunicados</li>
            </ul>
          </nav>
        </mv-col>
      </mv-row>

      <!--Horário de funcionamento-->
      <mv-row class="mv-adunir-footer__section is-align-center">
        <mv-col>
          Segunda a Sexta: 08:00 às 18:00 horas
        </mv-col>
      </mv-row>

      <!--Rodapé-->
      <mv-row class="mv-adunir-footer__section is-align-center">
        <mv-col>
          Associação de Docentes da Universidade Federal de Rondônia - ADUNIR <br>
          BR 364 Km 9,5 - Zona Rural - Campus UNIR. Bloco 2C - Prédio dos Departamentos/NCH <br>
          (069)-3225-9615 / (069) - 8405-6861 <br>
          administrativosadunir@gmail.com / adunir@unir.br
        </mv-col>
      </mv-row>

      <!--Direitos Autorais-->
      <mv-row class="mv-adunir-footer__section is-align-center">
        <mv-col>
          Todos os Direitos Reservados
        </mv-col>
      </mv-row>

    </mv-container>
  </mv-grid>

  <!--Direitos Autorais-->
  <mv-toolbar class="mv-theme--primary">
    <mv-row class="is-align-center">
      <mv-col>
        Desenvolvido por <a href="https://mviniciusconsultoria.com.br/">MVinicius Consultoria</a>
        <!--.
        <a routerLink="/orion">Painel de controle</a>-->
      </mv-col>
    </mv-row>
  </mv-toolbar>
</footer>
