<!--Emeve UI-->
<mv-ui>
  <!--<mv-iconset prefix="oi" link="/assets/css/open-iconic.css"></mv-iconset>-->
  <mv-iconset prefix="fa" link="/assets/css/font-awesome.css"></mv-iconset>
  <!--<mv-iconset prefix="fa" link="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></mv-iconset>-->
</mv-ui>
<!--/Emeve UI-->
<router-outlet></router-outlet>

