<header class="mv-header"
  [ngClass]="getHeaderClass()"
  [ngStyle]="getHeaderStyle()">
  <div class="mv-header__filter"
    [ngStyle]="getFilterStyle()" ></div>

  <mv-toolbar class="mv-header__bar">
    <mv-row>
      <mv-col class="xs mv-header__layout_menu">
        <ng-content select="mv-header-menu"></ng-content>
      </mv-col>
      <mv-col class="xs mv-header__layout_tool">
        <ng-content select="mv-header-tool"></ng-content>
      </mv-col>
    </mv-row>
  </mv-toolbar>

  <div class="mv-header__content" *ngIf="hasContent()">
    <ng-content></ng-content>
    <h1 class="mv-header__title">{{title}}</h1>
    <h2 class="mv-header__subtitle">{{subtitle}}</h2>
    <div class="mv-header__button-area" *ngIf="hasButton()">
      <button mv-btn class="mv-header__button" (click)="onButtonClick($event)">{{button}}</button>
    </div>
  </div>
</header>
