/**
 * Header
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Components
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";
@import "../shared/mixins";

/**
 * @section Style
 */

.mv-header {
  display: flex;
  color: $mv-color__primary--A100;
  background-color: $mv-color__primary;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

mv-header {
  &-menu,
  &-tool,
  &-logo{
    display: flex;
    flex: 1;
    align-items: center;
    height: inherit;
  }
  &-menu {
    justify-content: flex-start;
  }
  &-logo{
    justify-content: center;
  }
  &-tool{
    justify-content: flex-end;
  }
}

.mv-header {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;

  &--with-image {
    min-height: 30rem;
  }
  &--with-filter &__filter{
    display: block;
  }
  &--content {
    min-height: 15rem;
  }
  &--no-logo &__layout_logo {
    display: none;
  }
  &__filter {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-color: rgba($mv-color__primary, .8);
    background-color: $mv-color__primary;
    opacity: 0.8;
  }
  &__content {
    display: flex;
    position: relative;
    max-width: 25rem;
    line-height: 1.2em;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: $mv-color__gray--50;
    background-color: transparent;
  }
  &__title {
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: inherit;
  }
  &__subtitle {
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: 300;
    color: inherit;
  }
  &__button-area {
    display: flex;
    justify-content: center;
  }
  &__button {
    background-color: $mv-color__secondary;
    &[mv-btn] {
      background-color: $mv-color__secondary;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__bar {
    // position: relative;
    // width: 100%;
    // height: 5rem;
    max-height: 5rem;
    // display: flex;
    // flex: 1;
    // align-content: center;
    z-index: 100;
    background-color: transparent;

    .mv-btn {
      color: $mv-color__gray--50;
    }
  }
  &__tools {
    margin: 0;
    padding: 0;
  }
  &__tool {
    padding: 0.5rem 0.25rem;
    display: inline;
    list-style: none;
    color: inherit;

    &-link {
      text-decoration: none;
      color: inherit;
    }
    &-icon {
      color: inherit;
    }
  }
  &__logo {
    max-height: 7.5rem;
  }
  /**
 * Layout
 */
  &__layout {
    line-height: 1.5rem;
    &_menu {
    }
    &_logo {
      position: relative;
      text-align: center;
    }
    &_tool {
      text-align: right;
    }
  }

  @include widescreen() {
    &--with-image {
      min-height: 50rem;
    }
  }
}
