@import "../../variables";

.mv-adunir-header {
  display: flex;
  flex-direction: row;
  width: 100%;

  &--link {
    display: flex;
    // line-height: 150px;
    //min-width: 100px;
    //max-width: 200px;
    text-align: center;
    align-self: center;
  }

  &__logo {
    display: block;
    max-width: 200px;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  &__btn-login {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $color__default;
    height: inherit;

    &:hover &-icon,
    &:hover &-text {
      color: $mv-color__gray--300;
    }

    &-icon {
      font-size: 40px;
    }
    &-text {
      line-height: 1.5rem;
    }
  }

  &__nav {
    display: flex;
    margin: 0 1rem;
    flex: 1;
  }
  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;

    &-item {
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
      //align-self: center;
    }
    &-link {
      text-decoration: none;
      padding: 50px 0;
      // min-height: 100px;
      transition: background-color 300ms ease,
                  color 300ms ease;

      &:hover {
        background-color: $color__default;
      }
    }

    &-link--active,
    &-link--active &-label,
    &-link--active &-description {
      color: $mv-color--light !important;
      background-color: $color__default;
    }

    &-link:hover &-label,
    &-link:hover &-description {
      color: $mv-color--light;
    }

    &-label {
      display: block;
      padding: 0 1rem;
      font-size: 24px;
      color: $color__default;
      transition: background-color 300ms ease,
                  color 300ms ease;
    }

    &-description {
      padding: 0 1rem;
      height: 25px;
      line-height: 25px;
      font-size: 14px;
      color: $mv-color-_gray--300;
      transition: background-color 300ms ease,
                  color 300ms ease;
    }
  }

}
