<mv-grid>
  <mv-row>
    <mv-col>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi asperiores iste error eligendi nam. Nihil minus ipsum
        quasi ad quidem excepturi esse aut eius, cum consectetur consequatur vel odio! Exercitationem.</p>
    </mv-col>
  </mv-row>
</mv-grid>
