<mv-control-reactive [formControl]="formControl">
  <label [attr.for]="id">{{label}}</label>
  <input [attr.id]="id"
         [attr.type]="type"
         [attr.alt]="alt"
         [attr.autofocus]="autofocus"
         [attr.max]="max"
         [attr.maxlength]="maxlength"
         [attr.min]="min"
         [attr.name]="name"
         [attr.pattern]="pattern"
         [attr.placeholder]="placeholder"
         [attr.readonly]="readonly"
         [attr.size]="size"
         (input)="onInput($event)"
         (blur)="onBlur($event)"
         (focus)="onFocus($event)"
         ([value])="value">
  <mv-control-message>
    <ng-content select="mv-control-errors"></ng-content>
  </mv-control-message>
</mv-control-reactive>
