<div class="mv-mega__slide">
  <div class="mv-mega__background" [style.backgroundImage]="getImageBackground()"></div>
  <div class="mv-mega__caption">
    <h1 class="mv-mega__title"> {{title}} </h1>
    <p class="mv-mega__lead"> {{description}}</p>

    <button class="mv-mega__caption-button">
      <span class="mv-mega__caption-button-text">Visitar</span>
      <i class="mv-mega__caption-button-icon fa fa-arrow-circle-right"></i>
    </button>
  </div>
</div>
