@import "../../../variables";


:host {
  display: block;
}

.mv-mega {

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__img {
    box-shadow: 0 0 10px 0 #333;
  }

  &__caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    text-align: center;
    // background-color: #2f2d29;
    background-color: rgba($color__secondary, .95);

    &-button {
      position: absolute;
      bottom: 30px;
      display: block;
      width: 105%;
      height: 90px;
      line-height: 90px;
      text-decoration: none;
      cursor: pointer;
      border: none;
      color: $mv-color__light;
      background-color: $color__default;

      &:hover {
        color: $color__default;
        background-color: $mv-color__light;
      }

      &-text {
        line-height: inherit;
        font-size: 26px;
        text-transform: uppercase;

      }
      &-icon {
        line-height: inherit;
        font-size: 60px;
        float: right;
        margin-right: 50px;
      }
    }
  }

  &__title {
    margin: 2rem 0;
    padding: 0 25px;
    font-size: 60px;
    font-weight: 100;
    color: $mv-color__light;
  }

  &__lead {
    padding: 0 25px;
    font-size: 24px;
    color: $mv-color__light;
  }

  &__table {
    width: 100%;
    padding: 0 25px;
    color: $mv-color__light;

    th {
      font-size: 20px;
    }
    td {
      font-weight: 100;
      font-size: 60px;
    }
  }
}

