/**
 * Footer
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Components
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

/**
 * @section Style
 */

mv-footer {
  display: block;
  background-color: $mv-color__primary;
}

.mv-footer {
  padding: 1rem 0;
  color: $mv-color__secondary;
  background-color: $mv-color__primary;
  p {
    margin: 0;
    line-height: 1.5rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  nav {
    margin-bottom: 2rem;
    color: $mv-color__gray--50;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      text-align: center;
      list-style: none;
    }
  }
  &__logo {
    max-height: 7.5rem;
  }
  &__title {
    margin: 0 0 1rem 0;
    font-weight: 300;
    color: $mv-color__secondary;
  }
  &__end {
    text-align: center;
  }
}
