<mv-control-reactive [formControl]="formControl">
  <label [attr.for]="id">{{label}}</label>
  <input type="file"
         [attr.id]="id"
         [attr.alt]="alt"
         [attr.autofocus]="autofocus"
         [attr.name]="name"
         [attr.readonly]="readonly"
         [attr.size]="size"
         (change)="onChoose($event)"
         (blur)="onBlur($event)"
         (focus)="onFocus($event)"
         ([value])="value">
  <mv-control-message>
    <ng-content select="mv-control-errors"></ng-content>
  </mv-control-message>
</mv-control-reactive>
