<mv-mega-banner api="/api/adunir/slides"></mv-mega-banner>


<mv-grid>
  <mv-container>

    <!--Área principal-->
    <mv-row>

      <!--ADUNIR-->
<mv-col>
  <mv-topic title="ADUNIR">
    <mv-topic-list>
      <mv-topic-item title="Projeto Educa Mais">
        <mv-topic-date date="2017-03-18"></mv-topic-date>
        <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
      </mv-topic-item>

      <mv-topic-item title="Projeto Educa Mais">
        <mv-topic-date date="2017-03-18"></mv-topic-date>
        <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
      </mv-topic-item>

      <mv-topic-item title="Projeto Educa Mais">
        <mv-topic-date date="2017-03-18"></mv-topic-date>
        <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
      </mv-topic-item>
    </mv-topic-list>
  </mv-topic>
</mv-col>

    <!--Andes-->
    <mv-col>
      <mv-topic title="ANDES">
        <mv-topic-list>
          <mv-topic-item title="Projeto Educa Mais">
            <mv-topic-date date="2017-03-18"></mv-topic-date>
            <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
          </mv-topic-item>

          <mv-topic-item title="Projeto Educa Mais">
            <mv-topic-date date="2017-03-18"></mv-topic-date>
            <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
          </mv-topic-item>

          <mv-topic-item title="Projeto Educa Mais">
            <mv-topic-date date="2017-03-18"></mv-topic-date>
            <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
          </mv-topic-item>
        </mv-topic-list>
      </mv-topic>
    </mv-col>



      <!--Brasil-->
      <mv-col>
        <mv-topic title="Brasil">
          <mv-topic-list>
            <mv-topic-item title="Projeto Educa Mais">
              <mv-topic-date date="2017-03-18"></mv-topic-date>
              <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
            </mv-topic-item>

            <mv-topic-item title="Projeto Educa Mais">
              <mv-topic-date date="2017-03-18"></mv-topic-date>
              <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
            </mv-topic-item>

            <mv-topic-item title="Projeto Educa Mais">
              <mv-topic-date date="2017-03-18"></mv-topic-date>
              <p>Você pode ter um curso bem perto de você e nem sabe ainda.</p>
            </mv-topic-item>
          </mv-topic-list>
        </mv-topic>
      </mv-col>


    </mv-row>

    <!--Agenda-->
    <mv-topic title="Agenda">
      <mv-alert icon="exclamation-circle">
        Ainda não temos nenhum compromisso na agenda.
      </mv-alert>
    </mv-topic>

    <!--Notícias-->
    <mv-topic title="Últimas Notícias">
      <mv-alert icon="exclamation-circle">
        Em breve... novidades!
      </mv-alert>
    </mv-topic>
  </mv-container>
</mv-grid>

