/**
 * Button
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Button
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";
@import "../shared/mixins";

$bt_hover--color: $mv-color__primary--50;
$bt_hover--background-color: $mv-color__primary;
$bt_focus--color: $mv-color__primary--50;
$bt_focus--background-color: $mv-color__primary;
$bt_active--color: $mv-color__primary--100;
$bt_active--background-color: $mv-color__primary--400;
$bt_disabled--color: $mv-color__gray--300;
$bt_disabled--background-color: $mv-color__gray--100;
$bt--default--color: $mv-color__primary;
$bt--default_focus--background-color: $mv-color__primary;
$bt--raised--color: $mv-color__primary;
$bt--raised--box-shadow: 0 0 3px $mv-color__gray--100;
$bt--raised_focus--background-color: $mv-color__primary;
$bt--raised__disabled--color: $mv-color__primary;
$bt--raised__disabled--background-color: $mv-color__primary;
$bt-height: 2rem;
$bt-fab--height: 3rem;
$bt-fab--background-color: $mv-color__light;
$bt-fab--box-shadow: 0 0 3px $mv-color__gray--100;
$bt_fab_hover--color: $mv-color__light;
$bt-fab_hover--box-shadow: 0 0 6px $mv-color__gray--50;
$bt-fab_hover--background-color: $mv-color__primary;

/**
 * @section Mixins
 */

@mixin buttonIcon() {
  font-size: 1em;
  min-width: $bt-height;
  padding: 0 0.5rem;

  mv-icon {
    align-self: center;
    padding: 0;
    line-height: $bt-height;
  }

  mv-icon + span {
    display: none;
  }
}

@mixin buttonIconResponsive ( $device) {
  .mv-btn.is-icon-#{$device}{
    @include buttonIcon();
    max-width: $bt-height;
  }
}

/**
 * @section Style
 */
.mv-btn {
  position: relative;
  height: $bt-height;
  margin: 0;
  min-width: $bt-height * 3;
  padding: 0 0.5em;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  // line-height: $bt-height;
  will-change: box-shadow;
  transition: box-shadow 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  vertical-align: middle;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: $mv-border-radius-base;
  background: transparent;
  color: $mv-color__dark;

  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    color: $bt_hover--color;
    background-color: $bt_hover--background-color;
  }
  &:focus:not(:active) {
    color: $bt_focus--color;
    background-color: $bt_focus--background-color;
  }
  &:active {
    background-color: $bt_active--background-color;
  }

  mv-icon {
    line-height: inherit;
    color: inherit;
  }
}

// Disabled
.mv-btn[disabled] {
  color: $bt_disabled--color;
  cursor: default;
  background-color: transparent;
}

// Types
.mv-btn.is-raised{
  box-shadow: $bt--raised--box-shadow;

  &[disabled] {
    color: $bt--raised__disabled--color;
    background-color: $bt--raised__disabled--background-color;
    box-shadow: none;
  }
}

.mv-btn.is-fab {
  height: $bt-fab--height;
  min-width: $bt-fab--height;
  max-width: $bt-fab--height;
  line-height: $bt-fab--height;
  overflow: hidden;
  background-color: $bt-fab--background-color;
  border-radius: 50%;
  box-shadow: $bt-fab--box-shadow;

  &:hover {
    color: $bt_fab_hover--color;
    background-color: $bt-fab_hover--background-color;
    box-shadow: $bt-fab_hover--box-shadow;
  }

  &.is-fixed {
    position: fixed;
  }
  &.is-positioned {
    position: absolute;
  }

  &.is-on-top {
    top: $mv-layout__gutter;
    bottom: auto;
  }

  &.is-on-bottom {
    top: auto;
    bottom: $mv-layout__gutter;
  }

  &.is-on-left {
    left: $mv-layout__gutter;
    right: auto;
  }

  &.is-on-right {
    left: auto;
    right: $mv-layout__gutter;
  }
}


//Ícones
.mv-btn.is-icon {
  @include buttonIcon();
}

@include mobile() {
  @include buttonIconResponsive('mobile');
}

@include tablet() {
  @include buttonIconResponsive('tablet');
}

@include desktop() {
  @include buttonIconResponsive('desktop');
}

@include widescreen() {
  @include buttonIconResponsive('widescreen');
}

@include fullhd() {
  @include buttonIconResponsive('fullhd');
}
