<div class="mv-alert" role="alert">
  <div class="mv-alert__content">
    <div class="mv-alert__icon" *ngIf="icon">
      <mv-icon [name]="icon"></mv-icon>
    </div>
    <div class="mv-alert__message">
      <ng-content></ng-content>
    </div>
  </div>
</div>
