@import "../../variables";

:host {
  display: block;
  padding: 0;
}
.mv-alert {
  color: $mv-color__gray--300;
  background-color: $mv-color__gray--100;

  &__content {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1rem;
  }
  &__icon {
    display: flex;
    flex-shrink: 1;
    align-self: center;
  }
  &__message {
    padding: 0 1rem;
    display: flex;
    flex: 1;
    font-size: 1.5em;
    font-weight: 300;
  }
}
