<mv-col>
  <span class="mv-topic__date mv-topic--day" *ngIf="day">{{day}}</span>
  <span class="mv-topic__date mv-topic--month" *ngIf="month">{{month}}</span>
  <span class="mv-topic__date mv-topic--year" *ngIf="year">{{year}}</span>
</mv-col>
