:host {
  display: flex;
  flex-direction: column;
}
.mv-topic__date {
  line-height: 1em;
}
.mv-topic--day{
  font-size: 2rem;
}
.mv-topic--month {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: lowercase;
}
.mv-topic--year{
  font-size: 1.2rem;
  font-weight: bold;
}
