<mv-aside #menu title="Menu" class="mv-shell__menu is-left is-opened-on-tablet">
  <ng-content select="mv-shell-menu"></ng-content>
</mv-aside>

<section class="mv-shell__content">
  <ng-content></ng-content>
</section>
