<mv-toolbar>
  <mv-row>
    <mv-col class="align-center">
        <a class="mv-page-title__title">
          <mv-icon [name]="icon"></mv-icon>
          <span><ng-content></ng-content></span>
        </a>
    </mv-col>
  </mv-row>
</mv-toolbar>
